<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.royaltea.dao.FoodTypeMapper">
	<!-- <resultMap type="emp" id="EmpMapper">
		<result property="empId" column="EMP_ID"/>
		<result property="empLid" column="EMP_LID"/>
		<result property="foodtypeName" column="ROLE_NAME"/>
		<result property="empSex" column="EMP_SEX"/>
		<result property="empPwd" column="EMP_PWD"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empSalary" column="EMP_SALARY"/>
		<result property="empWorktime" column="EMP_WORKTIME"/>
		<result property="empBirthtime" column="EMP_BIRTHTIME"/>
		<result property="empTel" column="EMP_TEL"/>
	</resultMap>  -->
    <!-- 查询所有emp resultMap="EmpMapper"-->  
    <select id="queryAll" resultType="foodtype"  >  
        select * from foodtype 
    </select>
    
    <insert id="add" parameterType="foodtype">
    	insert into foodtype (FT_NAME,FT_DEC) values(#{ftName},#{ftDec})
    </insert>
    
    <delete id="deleteById" parameterType="int">
    	delete from foodtype where FT_ID=#{ftId}
    </delete>
    
    <select id="selectById" parameterType="int" resultType="foodtype"  >  
        select * from foodtype where FT_ID=#{ftId}
    </select>
    
    <update id="update" parameterType="foodtype">
    	update foodtype set FT_NAME=#{ftName},FT_DEC=#{ftDec} where FT_ID=#{ftId}
    </update>
</mapper>