<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.royaltea.dao.FoodMapper">
	<!-- <resultMap type="food" id="FoodMapper">
		<result property="foodId" column="EMP_ID"/>
		<result property="foodLid" column="EMP_LID"/>
		<result property="roleName" column="ROLE_NAME"/>
		<result property="foodSex" column="EMP_SEX"/>
		<result property="foodPwd" column="EMP_PWD"/>
		<result property="foodName" column="EMP_NAME"/>
		<result property="foodSalary" column="EMP_SALARY"/>
		<result property="foodWorktime" column="EMP_WORKTIME"/>
		<result property="foodBirthtime" column="EMP_BIRTHTIME"/>
		<result property="foodTel" column="EMP_TEL"/>
	</resultMap>  -->
    <!-- 查询所有food resultMap="FoodMapper"-->  
    <select id="queryAll" resultType="food"  >  
        select * from food inner join foodtype on food.FT_ID=foodtype.FT_ID order by F_ID
    </select>
    
    <select id="queryKey" parameterType="foodkey" resultType="food"  >  
        select * from food inner join foodtype on food.FT_ID=foodtype.FT_ID where 1=1  
        <if test="type !='' and type !=null">
            and food.FT_ID=#{type}
        </if>
        <if test="name !='' and name !=null">
            and F_NAME like CONCAT('%',#{name},'%')
        </if>
        <if test="status==1">
            and F_STATUS = 0
        </if>
        <if test="status==2">
            and F_STATUS = 1
        </if>
        <if test="pstatus==1">
            and F_DC = 10
        </if>
        <if test="pstatus==2">
            and F_DC != 10
        </if>
         order by F_ID
    </select>
    
    <insert id="add" parameterType="food">
    	insert into food (FT_ID,F_NAME,F_PRICE,F_STATUS
    	<if test="fImg !='' and fImg !=null">
    	,F_IMG
    	</if>
    	,F_DEC)
    	 values(#{ftId},#{fName},#{fPrice},#{fStatus}
    	 <if test="fImg !='' and fImg !=null">
    	,#{fImg}
    	</if>
    	 ,#{fDec})
    </insert>
    
    <select id="selectById" parameterType="int" resultType="food"  >  
        select * from food inner join foodtype on food.FT_ID=foodtype.FT_ID where F_ID=#{fId}
    </select>
    
    <delete id="deleteById" parameterType="int">
    	delete from food where F_ID=#{fId}
    </delete>
    
    <update id="updateStatus" >
    	update food set F_STATUS=#{1}
    	where F_ID=#{0}
    </update>
    
    <update id="update" parameterType="food">
    	update food set FT_ID=#{ftId},F_NAME=#{fName},F_PRICE=#{fPrice},F_STATUS=#{fStatus},F_DEC=#{fDec}
    	<if test="fImg !='' and fImg !=null">
            ,F_IMG=#{fImg} 
        </if>
    	where F_ID=#{fId}
    </update>
    
    <update id="updateDc" >
    	update food set F_DC=#{1}
    	where F_ID=#{0}
    </update>
</mapper>